{% extends 'base.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Details</title>
</head>
<body>
 <div class="shadow card">
     <div class="card-body">
         <h5 class="card-title">{{task.name}}</h5>
         <p><b>Priority: {{task.priority}}</b></p>
         <p><b>Date: {{task.date}}</b></p>
         <a class="btn btn-warning" href="{% url 'update' task.id %}">Update</a>
         <a class="btn btn-danger" href="{% url 'delete' task.id %}">Done</a>
     </div>
     <br>
 </div>
 <br>

{% endblock %}
</body>
</html>